.Home {
    background-image: url("../../src/Liftup.png");
    background-size: 100%;
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: center;
}

.StrivText {
    left: calc(50% - 347px / 2 + 1px);
    top: calc(50% - 156px / 2 - 216px);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #2AF509;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.StrivWel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.StrivWelPar {
    left: 19px;
    top: 335px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.strivbut {
    background: #2AF509;
    padding: 0.5rem 2.5rem;
}

.bg-dark-auth {
    background-color: black;
    height: 100%;
}

.margin-top-home {
    margin-top: 10rem;
}

.striv3-nav-bannar {
    margin-left: 4rem;
    font-weight: 800;
}

.logout-button{
    margin-right: 2rem;
}

@media only screen and (max-width: 500px) {
    .mt-8 {
        margin-top: 2.0rem;
    }

    .striv3-nav-bannar {
        margin-left: 0.5rem;
    }

    .logout-button{
        margin-right: 0.5rem;
    }

}

.w-30 {
    width: 35%;
}

.h-30 {
    height: 35%;
}

.page-not-found{
    text-align: center;
    margin-top: 10rem;
    color: red;
}

.default-profile-pic{
    border-radius: 3px;
}

.nav-bar-brand{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.get-started{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

.icon-social{
    margin-top: 1rem;
    margin-left: 3rem;
}

.icon-social-one{
    margin-left: 2rem;
}